* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #fcfcfc;
}

button {
  background: #005157;
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  filter: brightness(0.9);
}

footer {
  background-color: rgba(0, 43, 46, 1);
  color: rgba(255, 255, 255, 0.7);
}

footer p {
  text-align: center;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

h2 {
  font-size: 2.4rem;
  color: #002b2e;
}

header {
  display: flex;
  align-items: center;
  gap: 18px;
}

header img {
  width: 36px;
  height: 36px;
}

header span {
  font-size: 3.6rem;
  color: #002b2e;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  line-height: 1.3;
}

.container {
  padding: 24px 32px;
}

.hero {
  position: relative;
}

.hero-text {
  width: 60%;
}

.hero-text p {
  color: #525252;
  margin-bottom: 24px;
}

.cta {
  position: relative;
}

.cta::before {
  content: "";
  width: 32px;
  height: 1px;
  background: #002b2e;
  position: absolute;
  top: -2px;
  left: 0;
}

.cta h2 {
  margin-bottom: 8px;
}

.imgContainer {
  background-image: url("./images/circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  top: -48px;
  right: -72px;
  width: 564px;
  height: 350px;
  z-index: 5;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.circle-gray {
  width: 520px;
  height: 520px;
  position: absolute;
  left: -25%;
  z-index: -2;
}

.content {
  display: flex;
  gap: 72px;
  padding-top: 256px;
}

.about {
  padding: 32px 128px 32px 96px;
  background: #f1f2f2;
  margin-bottom: 32px;
  border-radius: 8px;
  position: relative;
}

.about img {
  position: absolute;
  width: 96px;
  height: 96px;
  right: -18px;
  top: 50%;
}

.about h2, .public h2 {
  margin-bottom: 24px;
}

.about p:nth-child(2) {
  margin-bottom: 12px;
}

.content-left {
  flex: 1.5;
}

.public {
  padding: 0px 256px 0px 48px;
}

.benefits {
  flex: 1;
}

.benefits p {
  padding: 24px 18px;
  border: 2px solid #e2e2e2;
  margin-bottom: 18px;
  position: relative;
}

.benefits h2 {
  margin-bottom: 24px;
}

.benefits p::after {
  content: "";
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  border: 2px solid #89ba42;
  border-radius: 50%;
  background-image: url("./images/check.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #fcfcfc;
}

.about-us {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.about-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-top > h2,
.about-top > p {
  text-align: center;
}

.about-us > div {
  display: flex;
  justify-content: center;
  padding: 0px 128px;
}
